@import "tailwindcss";

@font-face {
  font-family: "PP Mori";
  src: url("/fonts/PPMori-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PP Editorial New Italic";
  src: url("/fonts/PPEditorialNew-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-pp-mori: "PP Mori", sans-serif;
  --font-pp-editorial-new-italic: "PP Editorial New Italic", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-pp-mori: "PP Mori", sans-serif;
  --font-pp-editorial-new-italic: "PP Editorial New Italic", sans-serif;
}


.mapboxgl-ctrl-attrib, .mapboxgl-ctrl-logo {
  display: none !important;
}
